@import url('https://fonts.googleapis.com/css?family=Roboto');

#competitions {
  background-color: #EEEEEE;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#card-container {
  width: 80vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.competitions-card {
  width: 17vw;
  height: 25vw;
  background-color: white;
  border-radius: 0.5vw;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.competitions-card-button {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  border-radius: 1.5vw;
  width: 13vw;
  height: 3vw;
  position: absolute;
  top: 23.5vw;
  left: 2vw;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3vw;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.competitions-card-button:hover {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
